# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase
.firebase
.firebaserc
firebase-debug.log*
ui-debug.log

# Android / Capacitor
android/app/build
android/app/release
android/build
android/.gradle
android/local.properties
*.keystore
*.jks
gradle.properties

# iOS / Capacitor
ios/App/Pods
ios/App/build
ios/App/*.xcworkspace
DerivedData

# Capacitor
.capacitor
